body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}

.container {
	max-width: auto;
}

.header {
	max-width: 300px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: var(--tg-theme-button-text-color);
	border-radius: 10px;
	color: var(--tg-theme-button-color);
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: whitesmoke;
}